*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("image.png");
}

.Calculator{
    display: flex;
    flex-direction: column;
    width: max(300px,25vw);
    height: max(400px,49vh);
    border-radius: 10px;
    overflow: hidden;
}

.result{
    height: 70px;
    border: none;
    background-color: #829078;
    text-align: right;
    font-size: 2rem;
    padding: 10px 10px;
}

.buttons{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0;
}

button{
    font-size: 24px;
    border: 1px solid rgb(0, 0, 0);
    transition: transform 0.08s ease, background-color 0.08s ease;
}

button:active{
    background-color: #ddd;
    transform: scale(0.97);
}

.no{
    color: white;
    background-color: rgb(89, 136, 244);
}

.equals{
    background-color: greenyellow;
}

.operators{
    background-color: orange;
}

.CE{
    background-color: aquamarine;
}